/* General Styles */
.certification-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: 300px;
    background-color: #f8f6ec;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .certification-logo {
    width: 130px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .certification-logo:hover {
    transform: scale(1.5);
    opacity: 0.8;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .certification-bar {
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .certification-logo {
      width: 60px;
    }
  }

/* Compare Features Section */
.compare-bar {
    text-align: center;
    margin-top: 20px;
  }
  
  .compare-button {
    background-color: #FFC727;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .compare-button:hover {
    background-color: #e6b800;
  }
  
  .arrow {
    font-size: 1.5rem;
    color: #4CAF50;
  }


  .video-banner {
    position: relative;
    background: url("./heroimage.jpg") no-repeat center center/cover;
    height:500px;
    width: 1330px;
    align-items: center;
    left:300px;
    border-radius: 10px;

  }

  
  .video-overlay {
    position: absolute;
    text-align: center;
    background: rgba(163, 161, 161, 0.5); /* Dark overlay */
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .video-overlay h3 {
    font-size: 32px;
    font-weight: bold;
    color:#fcb813;
    margin: 0 0 20px 0;
    line-height: 1.4;
    position: relative;
    top:250px;
    left:50px;
  }
  
  .play-button {
    background-color: #fff;
    color: #4caf50; /* Green color */
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    left:200px;
    top:175px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .play-button:hover {
    background-color: #fcb813; /* Golden color */
    transform: scale(1.1);
  }
  
  .play-button i {
    margin-left: 2px;
  }

  .video-frame {
    width: 100%; /* Adjust based on your container */
    height: 100%; /* Match the height of your video banner */
    border-radius: 10px; /* Keep the rounded corners */
}

  
